{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="form-container">
        <h2>Create Account</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>

            <button type="submit">Register</button>
        </form>
        <p>
            {% if error %}
                <span class="error">{{ error }}</span>
            {% endif %}
        </p>
        <p>
            Already have an account?
            <a href="/login/">Login here</a>
        </p>
    </div>
</section>
{% endblock %}
